<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="dbName" value="MTLSpot" />
    <add key="connectionString" value="mongodb://localhost:27017" />
    <add key="YelpClientID" value="JXcLQgSZcIpk0JQ-Ebwzgg" />
    <add key="YelpApiKey" value="lCyVyp5OAQyk_IWme2il5sezj3v0uBatGyo9-VhfHzJOsPJeaD-c4UyVRweqnKQBx8BgYuG1fF5RGI7fJJyUw62ex9z7fPK0y_-WHXTY7bne1y5kOS6fA8v0DBY_WnYx" />
    <add key="YelpCLientSecret" value="Vv92IvVc2xIhThUtBQGJ39Ht1sjgwQJ2fJZpALDD8C6SkbdphHaFB9iNsNVlnfFW" />
  </appSettings>

  <log4net>
    <appender name="LogDebug" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\log-debug.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1000MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%level] – %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
      </filter>
    </appender>
    <appender name="LogError" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\log-error.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1000MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%level] – %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogDebug" />
      <appender-ref ref="LogError" />
    </root>
  </log4net>
</configuration>