extends layout

block content
    #banner.page-header
        .row
            .col-md-6.col-sm-12
                h1= Title
    .row
        .col-md-6.col-sm-12
            p
                | MTLSpot was created to help Montrealers find places to sit down and get a bit of work done.
            </br></br>
        
